# Database
DATABASE_URL=mongodb://localhost:27017/Bloggr
PORT=4000

# Redis Queue & Caching
REDIS_URL=redis://localhost:6379

# Groq LLM Key
GROQ_API_KEY=your-groq-api-key

# Mail SMTP Credentials
MAIL_HOST=smtp.gmail.com
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-app-password

# Cloudinary Storage
CLOUD_NAME=your-cloudinary-name
API_KEY=your-cloudinary-api-key
API_SECRET=your-cloudinary-api-secret

# JWT Secret
JWT_SECRET=your-jwt-secret
ENVIRONMENT=development

# Vector DB (Qdrant)
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=your-qdrant-api-key

# App URLs
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4000

# Passport OAuth Credentials
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
FACEBOOK_APP_ID=your-facebook-app-id
FACEBOOK_APP_SECRET=your-facebook-app-secret
