@tailwind base;
@tailwind components;
@tailwind utilities;




/* spinner stype */

.spinner {
   width: 56px;
   height: 56px;
   display: grid;
   border-radius: 50%;
   -webkit-mask: radial-gradient(farthest-side,#0000 40%,#080cff 41%);
   background: linear-gradient(0deg ,rgba(8,12,255,0.5) 50%,rgba(8,12,255,1) 0) center/4.5px 100%,
        linear-gradient(90deg,rgba(8,12,255,0.25) 50%,rgba(8,12,255,0.75) 0) center/100% 4.5px;
   background-repeat: no-repeat;
   animation: spinner-d3o0rx 1.2s infinite steps(12);
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}

.spinner::after {
   opacity: 0.83;
   transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
   100% {
      transform: rotate(1turn);
   }
}



/* theme setting section */
:root {
  /* fallback values - not enforced if JS sets it */
  --accent: var(--accent, #22c55e);
  --accent-bg-light: var(--accent-bg-light, #d1fae5);
  --accent-bg-dark: var(--accent-bg-dark, #15803d);
  --accent-border: var(--accent-border, #166534);
  --accent-underline: var(--accent-underline, #22c55e);
  --accent-shadow: var(--accent-shadow,  0px 0px 70px 5px rgba(34, 197, 94, 0.5));
  --accent-highlight: var(--accent-highlight, rgba(34, 197, 94, 0.08));
  --acent-text-mode : var(--accent-text, rgb(0, 3, 14));
  --acent-bg-mode : var(--accent-bg-mode, rgb(255, 255, 255));
}

.shadow-accent-box {
  box-shadow: var(--accent-shadow);
}

.accent-underline{
  text-decoration: underline;
  text-decoration-color: var(--accent-bg-dark)
}

.accent-text {
  color: var(--accent) !important;
}

.accent-bg {
  background-color: var(--accent) !important;
}

.accent-bg-light {
  background-color: var(--accent-bg-light) !important;
}

.accent-bg-dark {
  background-color: var(--accent-bg-dark) !important;
}

.accent-border {
  border-color: var(--accent-border) !important;
}
.accent-underline:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-underline);
}
.accent-underline {
  text-decoration: underline;
  text-decoration-color: var(--accent-underline);
}

.accent-shadow {
  text-shadow: var(--accent-shadow);
}

.accent-highlight {
  background-color: var(--accent-highlight) !important;
}


.accent-text-mode{
  color: var(--accent-text-mode)
}

.accent-bg-mode{
  background-color: var(--acent-bg-mode);
}